
NUXT_PUBLIC_VAULT_CONTRACT_DECIMALS=18

# vault address
NUXT_PUBLIC_VAULT_ADDRESS=

# withdrawQueue address
NUXT_PUBLIC_VAULT_WITHDRAW_QUEUE_ADDRESS=

# price oracle
NUXT_PUBLIC_PRICE_ORACLE=

# multicall
NUXT_PUBLIC_MULTICALL=0xca11bde05977b3631167028862be2a173976ca11

# stETH
NUXT_PUBLIC_STETH=0x3508A952176b3c15387C97BE809eaffB1982176a
#wstETH
NUXT_PUBLIC_WSTETH=0x7E99eE3C66636DE415D2d7C880938F2f40f94De4

# feed ETH oracle(mainnet)
NUXT_PUBLIC_PRICE_ORACLE_ETH=0x5f4eC3Df9cbd43714FE2740f5E3616155c5b8419






