@import "tailwindcss";

:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --font-display: "Inter", "sans-serif";
  --color-primary: oklch(0.84 0.18 117.33);
}

@layer base {
  body {
    @apply bg-[#0A0A0A];
    @apply text-white;
    height: 100vh;
  }
}
